@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.card {
    font-family: 'Poppins', sans-serif;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 4e9d24d7fb73ff3a042207af114cc059625f4351
}

.card > .card--bookCover {
    width: 180px;
    height: 235px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: .3em;
    cursor: pointer;
}

.card--bookDetails > .card--bookRating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3em;
    margin-bottom: .3em;
}

.card--bookRating > .card--star {
    color: hsl(200, 100%, 68%);
}

.card--bookRating > .card--reviews {
    color: hsl(254, 6%, 58%);
}

.card--bookDetails > .card--bookTitle,
.card--bookDetails > .card--bookAuthor {
    font-size: .9rem;
    margin-bottom: .25em;
    max-width: 180px;
}

.card--bookDetails > .card--bookTitle {
    cursor: pointer;
}

.card--bookRating > .card--rating,
.card--bookRating > .card--reviews {
    cursor: pointer;
<<<<<<< HEAD
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    color: hsl(0, 69%, 46%);
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
    padding: 0.3em 0.5em;
    margin: 0.2em 0.3em;
    border-radius: 6px;
    font-weight: bold;
    z-index: 10000;
=======
>>>>>>> 4e9d24d7fb73ff3a042207af114cc059625f4351
}